.entry-page-container {
  height: calc(100vh - (70px + 3vh) * 2 - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@keyframes slide-in {
  0% {
    transform: translateY(200%);
    opacity: 0%;
  }
  65% {
    transform: translateY(-10%);
    opacity: 100%;
  }
  100% {
    transform: translateY(0%);
  }
}

.entry-page-me-button {
  width: 100%;
  background-color: var(--light-primary-a40);
  border-radius: 16px;
  padding: 1rem;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: var(--light-whitespace-a0);
  animation: slide-in 0.5s ease-in-out;
  margin: 2rem 0;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-page-me-button img {
  height: 16px;
  width: auto;
}

.entry-page-me-avatar {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: var(--light-primary-a100);
  border: solid 5px var(--light-whitespace-a0);
  color: var(--light-primary-a10);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  margin-bottom: -10%;
  overflow: hidden;
}

.entry-page-me-avatar img {
  height: 100%;
  width: auto;
}
.entry-page-me-button:hover {
  scale: 0.99;
  transition: 0.2s ease-in-out;
  opacity: 80%;
}

@media (prefers-color-scheme: dark) {
  .entry-page-me-avatar {
    border-color: var(--dark-whitespace-a80);
    background-color: var(--dark-primary-a10);
    color: var(--dark-whitespace-a0);
  }
}

.entry-page-bg {
  --background: var(--secondary-whitespace);
}
