:root {
  --light-whitespace-a0: #ffffff;
  --light-whitespace-a10: #e8e8f8;
  --light-whitespace-a20: #f0f0f6;
  --light-whitespace-a30: #f8f8fd;
  --light-whitespace-a40: #8b8b8b;
  --light-whitespace-a100: #000000;
  --light-primary-a5: #e4e3ff;
  --light-primary-a10: #ad66fd;
  --light-primary-a20: #d255ff;
  --light-primary-a30: #dcbcff;
  --light-primary-a40: #7900ff;
  --light-primary-a100: #0b0a41;
}
