@import "/src/theme/color-theme-light.css";
@import "/src/theme/color-theme-dark.css";

@media (prefers-color-scheme: light) {
  :root.md {
    --ion-background-color: var(--light-whitespace-a0);
    --ion-tab-bar-background: var(--light-primary-a100);
    --ion-tab-bar-color-selected: var(--light-whitespace-a0);
    --ion-tab-bar-color-selected-background: rgba(112, 132, 231, 0.37);
    --ion-tab-bar-color: var(--light-whitespace-a40);
    --action-button-background-color: var(--light-primary-a40);
    --action-button-color: var(--light-whitespace-a0);
  }
}

@media (prefers-color-scheme: light) {
  :root.ios {
    --ion-background-color: var(--light-whitespace-a0);
    --ion-tab-bar-background: var(--light-primary-a100);
    --ion-tab-bar-color-selected: var(--light-whitespace-a0);
    --ion-tab-bar-color-selected-background: rgba(112, 132, 231, 0.37);
    --ion-tab-bar-color: var(--light-whitespace-a40);
    --action-button-background-color: var(--light-primary-a40);
    --action-button-color: var(--light-whitespace-a0);
    --secondary-whitespace: var(--light-whitespace-a20);
  }
}

@media (prefers-color-scheme: dark) {
  :root.ios {
    --ion-background-color: var(--dark-whitespace-a80);
    --ion-tab-bar-background: #1b1e39;
    --ion-tab-bar-color-selected: var(--light-whitespace-a0);
    --ion-tab-bar-color-selected-background: rgba(84, 116, 197, 0.37);
    --ion-tab-bar-color: var(--light-whitespace-a0);
    --action-button-background-color: var(--dark-whitespace-a80);
    --action-button-color: var(--light-whitespace-a0);
    --secondary-whitespace: var(--dark-whitespace-a90);
  }
}

ion-fab-button::part(native):hover::after {
  background-color: var(--action-button-hover);
}

ion-fab-button::part(native):active::after {
  background-color: var(--action-button-active);
}

ion-fab-button::part(native) {
  border-radius: 100%;
  background: var(--action-button-background-color);
  color: var(--action-button-color);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  ion-fab-button::part(native) {
    outline: solid 3px var(--ion-tab-bar-color-selected-background);
  }
}

ion-toolbar {
  --background: var(--ion-background-color);
  --ion-color-base: transparent !important;
  --border-width: 0;
  --ion-border-color: transparent;
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (prefers-color-scheme: dark) {
  :root .chakra-skeleton {
    --start-color: #381d58;
    --end-color: #431874;
  }
}

ion-back-button {
  --color: var(--light-primary-a40);
}

:root {
  --chakra-colors-purple-600: var(--dark-primary-a40) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --chakra-colors-purple-600: var(--dark-primary-a10) !important;
    --chakra-colors-purple-800: #4f1984 !important;
    --chakra-colors-gray-900: var(--dark-whitespace-a80) !important;
    --chakra-colors-gray-950: #ffffff !important;
  }
}
