.calendar-item {
  font-size: 15px;
  letter-spacing: 0;
  text-align: center;
  background-color: none;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  width: calc(100% / 7);
  gap: 2px;
  color: var(--light-whitespace-a100);
}

.calendar-item {
  margin: 0;
  font-weight: 200;
}

.title {
  font-weight: 600;
}

.calendar-item-entry-indicator {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  margin-top: 4px;
}

@keyframes select-calendar-tab {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.calendar-item-selected {
  background-color: var(--light-primary-a100);
  color: var(--light-primary-a10);
  font-weight: 600;
  animation: select-calendar-tab 0.1s ease-out;
}

.calendar-item-has-entry {
  background-color: var(--light-primary-a10);
}

@media (prefers-color-scheme: dark) {
  .calendar-item {
    color: var(--dark-whitespace-a0);
  }

  .calendar-item-selected {
    background-color: var(--light-primary-a10);
    color: var(--dark-whitespace-a0);
  }
  .calendar-item-selected .calendar-item-has-entry {
    background-color: var(--dark-whitespace-a0);
  }
}
