ion-title {
  font-size: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "SF Pro Display",
    "SF Pro Text", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
}
.title-header ion-title {
  font-size: 1rem;
}
