.user-list-alpha-divider {
  width: 100%;
  background-color: var(--light-whitespace-a30);
  color: var(--light-whitespace-a40);
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 15px 0;
}

@media (prefers-color-scheme: dark) {
  .user-list-alpha-divider {
    background-color: var(--dark-whitespace-a80);
  }
}

.user-list-no-results {
  text-align: center;
  margin-top: 3rem;
  font-weight: 500;
  color: var(--dark-whitespace-a40);
}
