<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0uUEGUAjcE6LGTP1Bo_FbUqyPr1cd1VM</string>
	<key>GCM_SENDER_ID</key>
	<string>929320583602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.budeberkach.budetab</string>
	<key>PROJECT_ID</key>
	<string>budetab-app</string>
	<key>STORAGE_BUCKET</key>
	<string>budetab-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929320583602:ios:b2ad45b9c97cfe70b0e4ab</string>
</dict>
</plist>